<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252"></head><body><div class="middle-box text-center loginscreen  animated fadeInDown">
    <div ng-controller="login" ng-show="session_name == null">
        <!-- <div>
            <img alt="image" src="img/l_logo.png"/>
        </div> -->
        <h3>Selamat Datang di Bromes </h3>
        <p>Halaman Untuk Mengontrol Fitur Bromes
        </p>
        <code ng-show="message != null">{{message}}</code>
        <form class="m-t" role="form" ng-submit="login_validation()">
            <div class="form-group">
                <input ng-model="no" type="text" class="form-control" placeholder="No HP" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        </form>
        <p class="m-t"> <small>BROMES © 2016</small> </p>
    </div>
</div></body></html>